{% extends 'core/base.html' %}

{% block content %}
<div class="bg-fondo">

    <div class="card shadow-lg bg-white rounded contenedor-publicar-preview mx-auto">
        <div class="card-secction secction-1">
            <img src="/media/logo.png" class="d-block w-100" alt="se produjo un error">            
        </div>

    
        <div class="card-secction secction-2 px-3" >
            <h4 class="card-title">| Quiénes Somos</h4>
            <p>Ecojusta es una empresa de telecomunicaciones, que inicia operaciones en la ciudad de Tegucigalpa. 
                Debido al rápido crecimiento y aceptación de nuestros clientes, a la fecha operamos en varias de las ciudades
                más importantes del país incluyendo: Valle de Ángeles, Santa Lucía, Comayagua, Siguatepeque, Choloma, Omoa, 
                Puerto Cortés, Villanueva, San Pedro Sula, Santa Rosa de Copán, La Ceiba, Tela, El Progreso, Chamelecón, La Lima, 
                Juticalpa, Trujillo, Catacamas, Talanga, entre otras. Continuaremos expandiéndonos, ya que somos la compañía de mayor 
                cobertura y crecimiento a Nivel Nacional.</p>
        </div>
    </div>
</div>

{% endblock %}